.experience-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #151515;
    color: #fff;
    position: relative;
    flex-wrap: wrap;

    .item {
        margin-bottom: 400px;
        margin-top: 400px;
        text-align: center;
        flex: 5;
        position: relative;

        h6 {
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 20px;
            color: #ff8a00;
            margin-bottom: 10px;
        }

        h2 {
            font-family: "Raleway", sans-serif;
            font-weight: 800;
            font-size: 36px;
            line-height: 1.2;
            text-transform: uppercase;
            margin-bottom: 20px;
        }

        .circle {
            background: #fff;
            border-radius: 50%;
            width: 250px;
            height: 250px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            position: absolute;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }

            p {
                font-family: "Raleway", sans-serif;
                font-weight: 700;
                font-size: 15px;
                color: #ff8a00;
                text-align: center;
                padding: 20px;
                z-index: 1;
            }
        }
    }

    .Circle1 {
        position: absolute;
        bottom: 50%;
        left: 86%;
        transform: translate(-20%, -0%);
        z-index: 5;
    }

    .Circle2 {
        position: absolute;
        top: 200px;
        left: 40%;
        right: 0%;
        transform: translate(-20%, -50%);
        z-index: 3;
    }

    .Circle3 {
        position: absolute;
        bottom: 220%;
        left: 0%;
        transform: translate(-30%, 20%);
        z-index: 4;
    }

    .Text0 {
        position: absolute;
        top: 10%;
        bottom: 60%;
        left: 22%;
        width: 158px;
        z-index: 8;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 22px;
        line-height: 1;
        text-transform: uppercase;
        color: #fff;
    }

    .Text1 {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 11px;
        line-height: 1.2;
        width: 158px;
        text-transform: uppercase;
        color: #ff8a00;
        position: absolute;
        top: 5%;
        bottom: 50%;
        left: 22%;
        width: 108px;
        z-index: 8;
    }

    .Text2 {
        position: absolute;
        top: 67%;
        left: 73%;
        width: 140px;
        z-index: 7;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 22px;
        line-height: 1;
        text-transform: uppercase;
        color: #fff;
    }

    .Text3 {
        position: absolute;
        top: 65%;
        left: 16%;
        width: 134px;
        z-index: 6;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 22px;
        line-height: 1;
        text-transform: uppercase;
        color: #fff;
    }

  
  
    .arrow-icon img {
        width: 70px;
    }

    .arrow1 {
        top: 45%;
        left: 10%;
        transform: translate(198%, -35%) rotate(0deg);
        z-index: 5;
    }

    .arrow2 {
        top: 150%;
        left: 20%;
        transform: translate(-370%, -40%) rotate(0deg);
        z-index: 5;
    }

    
    @media (min-width: 1450px) {

        .Circle .item .Text1 .Text2 .Text3 .Text0{
            max-width: 70%;
         max-width:  7%;
         flex-wrap: wrap;
         
        }
        
        img{
            width: 100px;
        }
      
    }
   
    @media (max-width: 1450px) {

        .Circle1 {
            position: absolute;
            bottom: 50%;
            left: 86%;
            transform: translate(-20%, -0%);
            z-index: 5;
        }
    
        .Circle2 {
            position: absolute;
            top: 200px;
            left: 40%;
            right: 0%;
            transform: translate(-20%, -50%);
            z-index: 3;
        }
    
        .Circle3 {
            position: absolute;
            bottom: 220%;
            left: 0%;
            transform: translate(-30%, 20%);
            z-index: 4;
        }
    
        .Text0 {
            position: absolute;
            top: 10%;
            bottom: 60%;
            left: 22%;
            width: 158px;
            z-index: 8;
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 22px;
            line-height: 1;
            text-transform: uppercase;
            color: #fff;
        }
    
        .Text1 {
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 11px;
            line-height: 1.2;
            width: 158px;
            text-transform: uppercase;
            color: #ff8a00;
            position: absolute;
            top: 5%;
            bottom: 50%;
            left: 22%;
            width: 108px;
            z-index: 8;
        }
    
        .Text2 {
            position: absolute;
            top: 67%;
            left: 73%;
            width: 140px;
            z-index: 7;
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 22px;
            line-height: 1;
            text-transform: uppercase;
            color: #fff;
        }
    
        .Text3 {
            position: absolute;
            top: 65%;
            left: 16%;
            width: 134px;
            z-index: 6;
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 22px;
            line-height: 1;
            text-transform: uppercase;
            color: #fff;
        }
    
        .arrow-icon img {
            width: 40px;
            height: 40px;
        }
    
        .arrow1 {
            top: 45%;
            left: 10%;
            transform: translate(450%, -315%) rotate(0deg);
            z-index: 5;
        }
    
        .arrow2 {
            top: 150%;
            left: 20%;
            transform: translate(-370%, -40%) rotate(0deg);
            z-index: 5;
        }
      
    }


   
 
    // Адаптація для середніх екранів (1100px)
    @media (max-width: 1100px) {
        .Circle1 {
            position: absolute;
            bottom: 50%;
            left: 86%;
            transform: translate(-20%, -0%);
            z-index: 5;
        }
    
        .Circle2 {
            position: absolute;
            top: 200px;
            left: 40%;
            right: 0%;
            transform: translate(-20%, -50%);
            z-index: 3;
        }
    
        .Circle3 {
            position: absolute;
            bottom: 220%;
            left: 0%;
            transform: translate(-30%, 20%);
            z-index: 4;
        }
    
        .Text0 {
            position: absolute;
            top: 10%;
            bottom: 60%;
            left: 22%;
            width: 158px;
            z-index: 8;
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 22px;
            line-height: 1;
            text-transform: uppercase;
            color: #fff;
        }
    
        .Text1 {
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 11px;
            line-height: 1.2;
            width: 158px;
            text-transform: uppercase;
            color: #ff8a00;
            position: absolute;
            top: 5%;
            bottom: 50%;
            left: 22%;
            width: 108px;
            z-index: 8;
        }
    
        .Text2 {
            position: absolute;
            top: 67%;
            left: 73%;
            width: 140px;
            z-index: 7;
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 22px;
            line-height: 1;
            text-transform: uppercase;
            color: #fff;
        }
    
        .Text3 {
            position: absolute;
            top: 65%;
            left: 16%;
            width: 134px;
            z-index: 6;
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 22px;
            line-height: 1;
            text-transform: uppercase;
            color: #fff;
        }
    
        .arrow-icon img {
            width: 50px;
        }
    
        .arrow1 {
            top: 42%;
            left: 10%;
            transform: translate(435%, -360%) rotate(0deg);
            z-index: 5;
        }
    
        .arrow2 {
            top: 150%;
            left: 20%;
            transform: translate(-310%, 0%) rotate(0deg);
            z-index: 5;
        }
      
    }

    // Адаптація для малих екранів (1000px)
    @media (max-width: 1000px) {


        .Circle1 {
            position: absolute;
            bottom: 50%;
            left: 86%;
            transform: translate(-20%, -0%);
            z-index: 5;
        }
    
        .Circle2 {
            position: absolute;
            top: 200px;
            left: 40%;
            right: 0%;
            transform: translate(-20%, -50%);
            z-index: 3;
        }
    
        .Circle3 {
            position: absolute;
            bottom: 220%;
            left: 0%;
            transform: translate(-30%, 20%);
            z-index: 4;
        }
    
        .Text0 {
            position: absolute;
            top: 10%;
            bottom: 60%;
            left: 22%;
            width: 158px;
            z-index: 8;
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 22px;
            line-height: 1;
            text-transform: uppercase;
            color: #fff;
        }
    
        .Text1 {
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 11px;
            line-height: 1.2;
            width: 158px;
            text-transform: uppercase;
            color: #ff8a00;
            position: absolute;
            top: 5%;
            bottom: 50%;
            left: 22%;
            width: 108px;
            z-index: 8;
        }
    
        .Text2 {
            position: absolute;
            top: 67%;
            left: 73%;
            width: 140px;
            z-index: 7;
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 22px;
            line-height: 1;
            text-transform: uppercase;
            color: #fff;
        }
    
        .Text3 {
            position: absolute;
            top: 65%;
            left: 16%;
            width: 134px;
            z-index: 6;
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 22px;
            line-height: 1;
            text-transform: uppercase;
            color: #fff;
        }
    
        .arrow-icon img {
            width: 50px;
        }
    
        .arrow1 {
            top: 42%;
            left: 10%;
            transform: translate(405%, -360%) rotate(0deg);
            z-index: 5;
        }
    
        .arrow2 {
            top: 150%;
            left: 20%;
            transform: translate(-310%, 0%) rotate(0deg);
            z-index: 5;
        }
      
    

        
    }

    // Адаптація для малих екранів (900px)
    @media (max-width: 900px) {
    
        .Circle1 {
            position: absolute;
            bottom: 55%;
            left: 66%;
            transform: translate(-50%, -1%);
            z-index: 5;
        }
    
        .Circle2 {
            position: absolute;
            top: 200px;
            left: 40%;
            right: 0%;
            transform: translate(-35%, -30%);
            z-index: 3;
        }
    
        .Circle3 {
            position: absolute;
            bottom: 220%;
            left: 0%;
            transform: translate(10%, 10%);
            z-index: 4;
        }
    
        .Text0 {
            position: absolute;
            top: 10%;
            bottom: 60%;
            left: 8%;
            width: 148px;
            z-index: 8;
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 22px;
            line-height: 1;
            text-transform: uppercase;
            color: #fff;
        }
    
        .Text1 {
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 11px;
            line-height: 1.2;
            width: 168px;
            text-transform: uppercase;
            color: #ff8a00;
            position: absolute;
            top: 5%;
            bottom: 50%;
            left: 8%;
            width: 108px;
            z-index: 8;
        }
    
        .Text2 {
            position: absolute;
            top: 56%;
            left: 70%;
            width: 140px;
            z-index: 7;
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 22px;
            line-height: 1;
            text-transform: uppercase;
            color: #fff;
            transform: translate(-39%, -570%) ;
            
        }
    
        .Text3 {
            position: absolute;
            top: 65%;
            left: 6%;
            width: 134px;
            z-index: 6;
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 22px;
            line-height: 1;
            text-transform: uppercase;
            color: #fff;
        }
    
        .arrow-icon img {
            width: 30px;
        }
    
        .arrow1 {
            top: 42%;
            left: 10%;
            transform: translate(390%, -10%) rotate(0deg);
            z-index: 5;
        }
    
        .arrow2 {
            top: 10%;
            left: -100%;
            transform: translate(-220%, 100%) rotate(0deg);
            z-index: 5;
        }
      
    }

   
    @media (max-width: 700px) {
       
     
          

            padding-bottom: 600px;
        

        .Circle1 {
            position: absolute;
            bottom: 245%;
            left: 66%;
            transform: translate(45%, 20%);
            z-index: 5;
           
        }
    
        .Circle2 {
            position: absolute;
            top: 200px;
            left: 40%;
            right: 0%;
            transform: translate(10%, 220%);
            z-index: 3;
        }
    
        .Circle3 {
            position: absolute;
            bottom: 420%;
            left: 0%;
            transform: translate(-140%, 190%);
            z-index: 4;
        }
    
        .Text0 {
            font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 24px;
line-height: 1;
text-transform: uppercase;
color: #fff;
            position: absolute;
            top: 10%;
            bottom: 60%;
            left: 8%;
            width: 148px;
            z-index: 8;
            font-family: "Raleway", sans-serif;
            font-weight: 700;
           
            line-height: 1;
            text-transform: uppercase;
            color: #fff;
        }
    

        .Text1 {


            font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 11px;
line-height: 1.2;
text-transform: uppercase;
color: #ff8a00;
            
          
           
           
            width: 158px;
         
            color: #ff8a00;
            position: absolute;
            top: 5%;
            bottom: 50%;
            left: 8%;
            width: 108px;
            z-index: 8;
        }
    
        .Text2 {
            position: absolute;
            top: 66%;
            left: 75%;
            width: 140px;
            z-index: 7;
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 22px;
            line-height: 1;
            text-transform: uppercase;
            color: #fff;
        }
    
        .Text3 {
            position: absolute;
            top: 75%;
            left: 15%;
            width: 134px;
            z-index: 6;
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 22px;
            line-height: 1;
            text-transform: uppercase;
            color: #fff;
        }
    
        .arrow-icon img {
            width: 30px;
        }
    
        .arrow1 {
            top: 20%;
            left: 80%;
            transform: translate(990%, -570%) rotate(20deg);
            z-index: 5;
        }
    
        .arrow2 {
            top: 0%;
            left: -100%;
            transform: translate(120%, 1190%) rotate(190deg);
            z-index: 5;
        }
      
    }

    // Адаптація для малих екранів (700px)
    @media (max-width: 580px) {
     
        padding-bottom: 600px;
        

        .Circle1 {
            position: absolute;
            bottom: 245%;
            left: 76%;
            transform: translate(20%, 0%);
            z-index: 5;
           
        }
    
        .Circle2 {
            position: absolute;
            top: 200px;
            left: 50%;
            right: 0%;
            transform: translate(-30%, 220%);
            z-index: 3;
        }
    
        .Circle3 {
            position: absolute;
            bottom: 420%;
            left: 0%;
            transform: translate(-120%, 190%);
            z-index: 4;
        }
    
        .Text0 {
            font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 24px;
line-height: 1;
text-transform: uppercase;
color: #fff;
            position: absolute;
            top: 10%;
            bottom: 60%;
            left: 8%;
            width: 148px;
            z-index: 8;
            font-family: "Raleway", sans-serif;
            font-weight: 700;
           
            line-height: 1;
            text-transform: uppercase;
            color: #fff;
        }
    

        .Text1 {


            font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 11px;
line-height: 1.2;
text-transform: uppercase;
color: #ff8a00;
            
          
           
           
            width: 158px;
         
            color: #ff8a00;
            position: absolute;
            top: 5%;
            bottom: 50%;
            left: 18%;
            width: 108px;
            z-index: 8;
        }
    
        .Text2 {
            position: absolute;
            top: 69%;
            left: 75%;
            width: 140px;
            z-index: 7;
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 22px;
            line-height: 1;
            text-transform: uppercase;
            color: #fff;
        }
    
        .Text3 {
            position: absolute;
            top: 75%;
            left: 15%;
            width: 134px;
            z-index: 6;
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 22px;
            line-height: 1;
            text-transform: uppercase;
            color: #fff;
        }
    
        .arrow-icon img {
            width: 30px;
        }
    
        .arrow1 {
            top: 20%;
            left: 80%;
            transform: translate(800%, -680%) rotate(20deg);
            z-index: 5;
        }
    
        .arrow2 {
            top: 0%;
            left: -120%;
            transform: translate(120%, 1190%) rotate(190deg);
            z-index: 5;
        }
      
    
    }

}
