.personnel-training {
  padding: 100px 0;
  background-color: #151515;
  text-align: center;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;

  .personnelH2 {
      display: flex;
      justify-content: start;
      margin-left: 200px;

      h2 {
          text-align: start;
          margin-bottom: 50px;
          font-family: "Raleway", sans-serif;
          font-weight: 800;
          font-size: 42px;
          line-height: 1.2;
          text-transform: uppercase;
          color: #fff;
          width: 461px;

          @media (max-width: 768px) {
              margin-left: 0;
              text-align: center;
              width: 100%;
              font-size: 32px;
              padding: 0 20px;
          }

        
      }
      @media (max-width: 976px) {
        font-size: 28px;
        text-align: center;
        padding: 0 15px;
        margin: auto;
    }
  }

  .personnel-training__content {
      display: flex;
      justify-content: center;
      gap: 20px; /* Додаємо відступи між елементами */
      flex-wrap: wrap;

      @media (max-width: 768px) {
          flex-direction: column;
          align-items: center;
          gap: 20px;
          padding: 0 20px;
      }
      @media (min-width: 939px) {
        
        gap: 0px;
        padding: 0px;
    }
  }

  .containerPersonnel {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px; /* Додаємо відступи між елементами */

      @media (max-width: 768px) {
          flex-direction: column;
          gap: 20px;
          padding: 0 20px;
      }
      @media (min-width: 939px) {
        
        gap: 0px;
        padding: 0px;
    }
    
  }

  img {
      max-width: 120%; /* Зробимо зображення адаптивними */
      height: auto;
      @media (max-width: 770px) {
      width: 140%;
    }
    
  }

  /* Приховування векторних зображень на менших екранах */
  .Vectors {
      @media (max-width: 939px) {
          display: none;
      }
      
  }
}
